.CONTENIDO_01 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.FORMULARIO_desactivado{
    display: none;
}

.FORMULARIO_activado {
    margin-top: 30px;
    display: block;
}

.ELE_SEM {
    width: 500px;
    height: 100px;
    background: white;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    margin-top: 80px;
}

.INPUT_BOTON {
    font-size: 25px;
    height: 50px;
    width: 200px;
    background: #0094ff;
    border-style: solid;
    border-color:black;
    border-radius: 5px;
    cursor:pointer;
}

    .INPUT_BOTON:hover {
        width: 200px;
        height: 50px;
        font-size: 27px;
        padding: 5px;
        border-style: solid;
        border-radius: 5px;
        background: #aac9fc;
    }

.INPUT_BOTON_activado {
    width: 200px;
    height: 50px;
    font-size: 27px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background: #003cff;
}

.CL_INPUT_SEMESTRE_1_activado label{
    margin-top: 10px;
    display: block;
}

.CL_INPUT_SEMESTRE_1_desactivado {
    display: none;
}

.CL_INPUT_SEMESTRE_2_activado label{
    margin-top: 10px;
    display: block;
}

.CL_INPUT_SEMESTRE_2_desactivado {
    display: none;
}

.CL_BOTON_desactivado {
    
    display: none;
}

.CL_BOTON_activado {
    margin-top: 20px;
    display: block;
}

.OUTPUT_SEM_01_desactivado {
    display: none;
}

.OUTPUT_SEM_01_activado {
    display: block;
}

.OUTPUT_SEM_02_desactivado {
    display: none;
}

.OUTPUT_SEM_02_activado {
    display: block;
}
