#BODY {
	width: 1200px;
	margin: auto;
	height: auto;
	background: #13293D;
}

header{
	height: 150px;
	width: 1200px;
	margin-top: 30px;
	color: white;
	background: #0a3ad7;
	border-color: white;
	border-style: solid;
	border-radius: 30px;
}

		header #TITULO {
			float: left;
			margin-left: 150px;
			padding-top: 10px;
			align-content: center;
			text-align: center;
			font-family: Verdana;
			font-size: 50px;
		}

		header #LOGO {
			float: left;
			margin: 10px;
			margin-left: 80px;
			width: 150px;
			height: 125px;
			background: black;
		}

#NAV {
	height: 55px;
	background: #02567c;
	border-radius: 30px;
	margin-block-end: 10px;
}
	#NAV ul{
		list-style: none;
		padding: 0px;
	}

	#NAV ul .ITEM{
		margin-top: 4px;
		padding: 15px;
		float: left;
	}

	#NAV a { /*es el boton*/
		background: #0c00ad;
		color: white;
		padding: 5px;
		text-decoration: none;
		border-color: white;
		border-style: solid;
		font-family: Arial;
		font-size: 15px;
		border-radius: 30px;
	}

#FORMULARIO {
	float: left;
	width: auto;
	padding: 20px;
	
	background: white;

	border-style: solid;
	border-color: blue;
	border-radius: 10px;
}
	#FORMULARIO label {
						
		font-family: Arial;
		color: black;
	}

	#FORMULARIO input {
		padding-top: 5px;
		font-family: Verdana;
		border-style: solid;
		border-color: blue;
		border-radius: 10px;
	}

	#FORMULARIO .COLUMNAS {
		width: auto;
		height: auto;
		margin: auto;
		float: left;
		margin-right: 20px;
		margin-left: 20px;
	}


#ASIDE {
	float: left;
	height: auto;
	width: 250px;
	padding: 5px;
	margin-left: -70px;
	margin-top: 50px;
	font-family: verdana;
	font-size: 15px;

	background: white;

	border-style: solid;
	border-color: black;
	border-radius: 10px;
}

	#ASIDE p {
		font-family: Arial;
		
		margin: 1px;
		padding-block-end: 5px;
		border-block-end-style: solid;
		border-color: black;
	}

	#ASIDE ul li {
		padding: 5px;
		border-top-style: groove;
		margin-top: 5px;
}

	#ASIDE ul li a {
		margin-top: 5px;
	}


footer {
	font-family: Arial;
	color: white;
	background: #0d1d2c;
	margin: 20px;
	width: 100%;
	height: auto;
	margin-left: -75px;
	padding-right: 150px;
	float: left;
	border-top: solid;
	border-color: black;
}
