*{
	margin: 0;
}

#HEADER{
	height: 100px;
	background: blue;
	padding: 0;
	
}

#NAV{
	height: 1000px;
	background: green;
}

#SECTION{
	width: 70%;
	height: 200px;
	background: red;
	float: right;
}

#ARTICLE{
	width: 30%;
	height: 200px;
	background: orange;
	float: left;
}

#FOOTER{
	height: 100px;
	height: 100px;
	background: yellow;
}

