* {
    box-sizing: border-box;
}

body {
    background: #aac9fc/*#13293D*/;
    display: grid;
}

body::-webkit-scrollbar {
    display: none;
}

header {
    float: left;
    width: 1354px;
    height: 300px;
    color: white;
    background: #0256FF;
    border-color: black;
    border-style: solid;
    border-radius: 0px 0px 30px 30px;
}

    header #TITULO {
        float: left;
        margin-left: 30px;
        font-family: Verdana;
        font-size: 50px;
    }

    header .LOGOS_HEADER {
        float: left;
        margin-top: -20px;
        margin: 20px;
        margin-left: 30px;
        width: 160px;
        height: 150px;
    }

    header .UL_H {
        float: left;
        padding-left: 12px;
        margin-top: 120px;
        margin-left: -705px;
        color: black;
        list-style: none;
        font-family: Verdana;
        border-left-color: white;
        border-left-style: solid;
        border-radius: 3.5px;
    }

nav {
    float: left;
    height: 67px;
    margin: 10px 0px 0px 40px;
    width: 1250px;
    background: #160475;
    border-radius: 30px;
    border-style: solid;
}

    nav ul {
        float: left;
        list-style: none;
        padding: 0px;
    }

    nav ul li {
        float: left;
        margin-top: -2px;
        margin-left: 40px;
        padding: 0px;
    }

    nav a {
        /*es el boton*/
        float: left;
        padding: 5px;
        background: #0256FF;
        color: white;
        text-decoration: none;
        border-color: white;
        border-style: solid;
        border-radius: 30px;
        font-family: Arial;
        font-size: 15px;
    }

        nav a:hover { /*es el boton*/
            float: left;
            background: #52cbff;
            color: white;
            padding: 5px;
            text-decoration: none;
            border-color: white;
            border-style: solid;
            font-family: Arial;
            font-size: 15px;
            border-radius: 30px;
        }

aside {
    width: 250px;
    padding: 5px;
    margin-top: 50px;
    font-family: verdana;
    font-size: 15px;
    background: white;
    border-style: solid;
    border-color: black;
    border-radius: 10px 10px 0px 0px;
}

    aside p {
        font-family: Arial;
        margin: 1px;
        padding-block-end: 5px;
        border-block-end-style: solid;
        border-color: black;
    }

    aside ul li {
        border-color: #605ffe;
        border-style: solid none none none;
        padding: 5px;
        margin-top: 5px;
    }

    aside ul li:hover {
        background: #979797;
        border-color: blue;
        border-style: solid none solid none;
        padding: 5px;
        margin-top: 5px;
    }

    aside ul a {
        text-decoration: none;
        color: blue;
        /*margin-top: 5px;*/
    }

form {
    margin-top: 20px;
    height: auto;
    width: auto;
    padding: 10px;
    background: #0256FF;
    /*background: #5898ff*/ /*#fafafa*/ /*;*/
    border-style: solid;
    border-color: black;
    border-radius: 15px;
}

    form h1 {
	color: black;
	font-family: Verdana;
	font-size: 25px;
	padding: 5px;
	margin: 1px;
}
    form label{
        display: block;
        padding: 0px;
        margin: 1px;
        cursor: pointer;
        font-family: Verdana;
        color: black;
    }

    form input{
        padding: 10px;
        height: 28px;
        line-height: 30px;
        font-family: Verdana;
        border-color: black;
        border-radius: 15px;
        margin-top: 0px;
        box-sizing: border-box;
    }

    input::-webkit-inner-spin-button{
        -webkit-appearance: none;
    }

    form input:focus {
        outline: none;
        border-color: aqua;
    }

    button {
        cursor: pointer;
        width: auto;
        height: auto;
        padding: 5px 15px;
        border-style: solid;
        border-color: black;
        background: #0a3ad7;
        border-radius: 20px;
        font-size: 20px;
    }

    button:hover {
        border-style: solid;
        border-color: black;
        background: #aac9fc;
        font-size: 20px;
    }

    form hr {
        padding: 3px;
        background: blue;
        border-color: transparent;
    }

footer {
    font-family: 'Courier New';
    color: white;
    background: #0d1d2c;
    width: 100%;
    height: auto;
    float: left;
    border-top: solid;
    border-color: blue;
    margin: 40px -10px -10px -10px;
}

    footer p {
        font-family: Arial;
        font-size: large;
        margin: 10px;
        color: aqua;
        margin: 20px;
        
    }

    footer a {
        padding: 5px;
        border-radius: 15px;
        background: aqua;
        
        color: black;
        text-decoration: none;
    }

.Desactivar {
    display: none;
}

.Activar {
    display: block;
}
