.CONTENIDO {
	display: grid;
	grid-template-rows: auto auto;
}

.CONTENIDO_PRI {
	display: grid;
	grid-template-columns: auto auto auto;
}

.FORMULARIO_CONTENIDO_01 {
	margin-left: 75px;
	display: grid;
	grid-template-columns: auto auto;
	gap: 20px;
}

	.FORMULARIO .AGROUP{
		margin: 25px;
		padding: 5px;
		font-family: Verdana;
		color: black;
		background: white;
		border-color: black;
		border-style: solid;
		border-radius: 10px;
	}

	.FORMULARIO .AGROUP h1 {
		font-size: 25px;
		margin: 5px;
	}

	.AGROUP_CONTENIDO_01{
		display: grid;
		grid-template-columns: auto auto;
	}

	.AGROUP_CONTENIDO_02{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}
	.FORMULARIO::-webkit-scrollbar {
		display: none;
	}

#OUTPUT {
	
	background: white;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
}

	#OUTPUT .CON_REC_SUE_01{
		gap:10px;
		background: #e4e4e4;
		display: grid;
		grid-template-columns: auto auto;
		border-style: solid;
		border-color: black;
		border-radius: 20px;
		padding: 10px;
		margin-top: 25px;
	}

	#OUTPUT .CON_REC_SUE_01 input {
		background: #e4e4e4;
		font-family: Arial;
		font-size: 12px;
		border-color: transparent;
	}


	/*
para desplazar elementos: frame

codigo de ejemplo: https://www.cssblog.com/frame-mediante-css
*/
