* {
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    height: auto;
    margin: 15px;
    background: #13293D;
}

header {
    height: 200px;
    margin: auto;
    width: 1200px;
    color: white;
    background: #0256FF;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
}

    header #TITULO {
        float: left;
        margin-left: 30px;
        font-family: Verdana;
        font-size: 50px;
    }

    header .LOGOS_HEADER {
        float: left;
        margin: 25px;
        margin-left: 35px;
        width: 160px;
        height: 150px;
    }

    header ul {
        list-style: none;
        float: left;
        padding-left: 12px;
        margin-top: 120px;
        margin-left: -705px;
        font-family: Verdana;
        color: black;
        border-left-color: white;
        border-left-style: solid;
        border-radius: 3.5px;
    }

nav {
    height: 63px;
    background: #0a3ad7;
    border-radius: 30px;
    border-style: solid;
    margin-top: 20px;
    margin-block-end: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

    nav ul {
        list-style: none;
        padding: 0px;
    }

    nav ul .ITEM {
        margin-top: 4px;
        margin-left: 40px;
        padding: 0px;
        float: left;
    }

    nav a {
        /*es el boton*/
        background: #160475;
		color: white;
		padding: 5px;
		text-decoration: none;
		border-color: white;
		border-style: solid;
		font-family: Arial;
		font-size: 15px;
		border-radius: 30px;
	}

	#NAV a:hover{/*es el boton*/
        background: #1938ca;
		color: white;
		padding: 5px;
		text-decoration: none;
		border-color: white;
		border-style: solid;
		font-family: Arial;
		font-size: 15px;
		border-radius: 30px;
	}

