#BODY {
	width: auto;
	height: auto;
	margin: 25px;
	background: #13293D;
}

header{
	height: 200px;
	margin: auto;
	width: 1200px;
	color: white;
	background: #0a3ad7;
	border-color: white;
	border-style: solid;
	border-radius: 30px;
}

		header #TITULO {
			float: left;
			margin-left: 30px;
			font-family: Verdana;
			font-size: 50px;
		}

		header .LOGOS_HEADER {
			float: left;
			margin: 25px;
			margin-left: 35px;
			width: 160px;
			height: 150px;
		}

		header ul{
			list-style: none;
			float: left;
			padding-left: 12px;
			margin-top: 120px;
			margin-left: -705px;
		
			font-family: Verdana;
			color: black;
			border-left-color: white;
			border-left-style: solid;
			border-radius: 3.5px;
		}

#NAV {
	height: 55px;
	background: #02567c;
	border-radius: 30px;
	margin-block-end: 10px;
}
	#NAV ul{
		list-style: none;
		padding: 0px;
	}

	#NAV ul .ITEM{
		margin-top: 4px;
		padding: 15px;
		float: left;
	}

	#NAV a { /*es el boton*/
		background: #0c00ad;
		color: white;
		padding: 5px;
		text-decoration: none;
		border-color: white;
		border-style: solid;
		font-family: Arial;
		font-size: 15px;
		border-radius: 30px;
	}

	#NAV a:hover { /*es el boton*/
		background: #99D9EA;
		color: black;
		padding: 5px;
		text-decoration: none;
		border-color: white;
		border-style: solid;
		font-family: Arial;
		font-size: 15px;
		border-radius: 30px;
	}

#FORMULARIO {
	height: 300px;
	width: auto;
	float: left;
	margin-top: 30px;
	margin:auto;
	overflow-y: scroll;
	padding: 0px;
	background: white;
	border-style: solid;
	border-color: blue;
	border-radius: 10px;
}
	#FORMULARIO label {
						
		font-family: Arial;
		color: black;
		padding-top: 180px;
	}

	#FORMULARIO input {
		padding-top: 5px;
		font-family: Verdana;
		border-style: solid;
		border-color: black;
		border-radius: 10px;
	}

	#FORMULARIO .AGROUP {
		padding: 5px;
		margin-block-end: 5px;
		/*padding-top: -10px;*/
		font-family: Verdana;
		color: black;
		background: white;
		border-color: blue;
		border-style: solid;
		border-radius: 10px;
	}

	#FORMULARIO .AGROUP h1{
		font-size: 25px;
		margin: 5px;
	}

	#FORMULARIO .COLUMNAS {
		width: auto;
		height: auto;
		margin: auto;
		float: left;
		margin-right: 20px;
		margin-left: 20px;
	}


#ASIDE {
	float: left;
	height: auto;
	width: 250px;
	padding: 5px;
	margin-top: 50px;
	font-family: verdana;
	font-size: 15px;

	background: white;

	border-style: solid;
	border-color: black;
	border-radius: 10px;
}

	#ASIDE p {
		font-family: Arial;
		
		margin: 1px;
		padding-block-end: 5px;
		border-block-end-style: solid;
		border-color: black;
	}

	#ASIDE ul li {
		padding: 5px;
		border-top-style: groove;
		margin-top: 5px;
}

	#ASIDE ul li a {
		margin-top: 5px;
	}


footer {
	font-family: 'Courier New';
	color: white;
	background: #0d1d2c;
	width: 100%;
	height: auto;
	float: left;
	border-top: solid;
	border-color: black;
	margin: 0px;
	margin-top: 30px;
}
/*
para desplazar elementos: frame

codigo de ejemplo: https://www.cssblog.com/frame-mediante-css
*/
