.CONTENIDO {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.FORMULARIO_CONTENIDO_01 {
	margin-left: 20px;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

	.FORMULARIO .AGROUP{
		margin: 25px;
		height: auto;
		width: auto;
		padding: 5px;
		margin-block-end: 5px;
		/*padding-top: -10px;*/
		font-family: Verdana;
		color: black;
		background: white;
		border-color: blue;
		border-style: solid;
		border-radius: 10px;
	}

	.FORMULARIO .AGROUP h1 {
		font-size: 25px;
		margin: 5px;
	}

	.AGROUP_CONTENIDO_01{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.AGROUP_CONTENIDO_02{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

.OUTPUT_desactivado {
	display: none;
}

/*
para desplazar elementos: frame

codigo de ejemplo: https://www.cssblog.com/frame-mediante-css
*/
