
.CONTENIDO {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.FORMULARIO {
	height: auto;
	width: 650px;
	/*overflow-y: scroll;*/
	padding: 10px;
	background: #fafafa;
	border-style: solid;
	border-color: blue;
	border-radius: 15px;
}

.FORMULARIO_CONTENIDO_01 {
	margin-left: 20px;
	margin-top: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}


.FORMULARIO__GRUPO {
}

	.FORMULARIO__LABEL {
		display: block;
		padding: 0px;
		margin: 1px;
		cursor: pointer;
		font-family: Verdana;
		color: black;
	}

	.FORMULARIO__INPUT{
		padding: 10px;
		height: 28px;
		line-height: 30px;
		font-family: Verdana;
		border-color: black;
		border-radius: 15px;
		margin-top: 0px;
	}

	.FORMULARIO__INPUT:focus {
		outline: none;
		border-color: blue;
	}

	.FORMULARIO .AGROUP{
		margin: 25px;
		height: auto;
		width: auto;
		padding: 5px;
		margin-block-end: 5px;
		/*padding-top: -10px;*/
		font-family: Verdana;
		color: black;
		background: white;
		border-color: blue;
		border-style: solid;
		border-radius: 10px;
	}

	.AGROUP_CONTENIDO_01{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.AGROUP_CONTENIDO_02{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 20px;
	}

	.FORMULARIO .AGROUP h1 {
		font-size: 25px;
		margin: 5px;
	}

	.FORMULARIO button {
		width: 130px;
		height: 35px;
		border-style: solid;
		border-color: black;
		background: #5898ff;
		border-radius: 20px;
		font-size: 20px;
	}

	.FORMULARIO button:hover{
		width: 140px;
		height: 45px;
		padding: 5px;


		border-style: solid;
		border-color: black;
		background: #aac9fc;
		font-size: 20px;
	}

.ASIDE {
	width: 250px;
	padding: 5px;
	margin-top: 50px;
	font-family: verdana;
	font-size: 15px;

	background: white;

	border-style: solid;
	border-color: black;
	border-radius: 10px;
}

	.ASIDE p {
		font-family: Arial;
		
		margin: 1px;
		padding-block-end: 5px;
		border-block-end-style: solid;
		border-color: black;
	}

	.ASIDE ul li {
		padding: 5px;
		border-top-style: groove;
		margin-top: 5px;
}

	.ASIDE ul li a {
		margin-top: 5px;
	}


footer {
	font-family: 'Courier New';
	color: white;
	background: #0d1d2c;
	width: 100%;
	height: auto;
	float: left;
	border-top: solid;
	border-color: black;
	margin: 0px;
	margin-top: 30px;
}
/*
para desplazar elementos: frame

codigo de ejemplo: https://www.cssblog.com/frame-mediante-css
*/
